input {
    width: 20%;
    padding: 12px 20px;
    margin: .15% .15%;
    box-sizing: border-box;
    transition: 0.3s;
    border-style: solid;
    border-width: 1px;
    font-size: 14px;
    transition: .3s;
    border: 3px solid #777;
}

input:focus {
    border: 3px solid #555;
}

textarea {
    width: 20%;
    padding: 12px 20px;
    margin: .15% .15%;
    box-sizing: border-box;
    transition: 0.3s;
    border-style: solid;
    border-width: 1px;
    font-size: 14px;

}

.bgimg-1 {
  background-image: url("background.jpg");
}