body,
html {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}
@font-face {
  font-family: "happy";
  src: url("happy.ttf");
}
@font-face {
  font-family: "A little sunshine";
  src: url("sunshine.ttf");
}
.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
  background: url(images/backg.jpeg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  border-bottom: 10px solid white;
}
@media screen and (min-width: 700px) {
  .hero {
    top: -30vh;
    position: sticky;
  }
}
.hero .hero--content {
  text-align: center;
}
@media screen and (min-width: 700px) {
  .hero .hero--content {
    min-height: 20vh;
    position: sticky;
    top: 0;
  }
}
.hero .hero--content h1 {
  font-family: 'happy', sans-serif;
  font-size: 5rem;
  letter-spacing: 5px;
  margin-block-start: 0;
  margin-block-end: 0;
  padding: 10px 50px;
  margin: 10px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  border-bottom-right-radius: 225px 15px;
  border-bottom-left-radius: 15px 255px;
  transition: 0.3s;
}
.hero .hero--content h2 {
  font-size: 2rem;
}
article {
  margin-bottom: 2%!important;
}
article .paragraph {
  font-size: 18px;
}
@media screen and (min-width: 1200px) {
  article {
    margin: 5% 20%;
  }
}
@media screen and (min-width: 1000px) and (max-width: 1199px) {
  article {
    margin: 5% 15%;
  }
}
@media screen and (min-width: 800px) and (max-width: 999px) {
  article {
    margin: 5% 10%;
  }
}
@media screen and (max-width: 799px) {
  article {
    margin: 5% 5%;
  }
}
a.reset {
  color: inherit;
  text-decoration: inherit;
}
.btn {
  background: transparent;
  padding: 0.5rem 0.5rem;
  margin: 0.5rem;
  font-family: 'A little Sunshine', serif;
  font-size: 2rem;
  letter-spacing: 2px;
  text-decoration: none;
  color: black;
  display: inline-block;
  font-weight: bold;
}
.btn.sketched {
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  border-bottom-right-radius: 225px 15px;
  border-bottom-left-radius: 15px 255px;
  border: solid 3px black;
}
.btn.underline {
  text-decoration: solid underline blue;
  color: blue;
}
.btn.bg {
  background: url(images/backg.jpeg) no-repeat top center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: inline-block;
  cursor: pointer;
}
a.btn.sketched {
  background: transparent;
  padding: 0.5rem 0.5rem;
  margin: 0 0.5rem;
  /* font-size:1rem; */
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  border-bottom-right-radius: 225px 15px;
  border-bottom-left-radius: 15px 255px;
  border: solid 3px black;
  font-family: 'A little Sunshine', sans-serif;
  font-size: 2rem;
  text-decoration: none;
  color: black;
  font-weight: bold;
  letter-spacing: 2px;
  background: url(images/backg.jpeg) no-repeat top center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: inline-block;
  cursor: pointer;
}
.center {
  margin: 0 auto;
}
footer {
  margin-top: 0!important;
}
@media screen and (min-width: 1200px) {
  footer {
    margin: 10% 20%;
  }
}
@media screen and (min-width: 1000px) and (max-width: 1199px) {
  footer {
    margin: 10% 15%;
  }
}
@media screen and (min-width: 800px) and (max-width: 999px) {
  footer {
    margin: 10%;
  }
}
@media screen and (max-width: 799px) {
  footer {
    margin: 10% 5%;
  }
}
footer .footer-item {
  color: darkgrey;
  font-size: 18px;
  letter-spacing: 0.3px;
  display: inline-block;
}
footer .footer-item a {
  text-decoration: underline solid darkgrey 1px;
}
footer .footer-item:not(:last-of-type)::after {
  content: " • ";
  text-decoration: none;
}
