form.donation-collection-form {
  // display:flex;
  justify-content: center;
  align-items: center;
  .donation-amount {
    font-size: 88px;
    text-align:center;
    margin-bottom:20px;
    input {
      font-size:inherit;
      width:200px;
    }
  }
  input[type=range] {
    width:100%;
    display:block;
  }
}

.d-centered {
  display:block!important;
}