@font-face {
  font-family: "happy";
  src: url("happy.ttf");
}
form.donation-collection-form {
  justify-content: center;
  align-items: center;
}
form.donation-collection-form .donation-amount {
  font-size: 88px;
  text-align: center;
  margin: 20px;
}
form.donation-collection-form .donation-amount input {
  font-size: inherit;
  width: 200px;
}
form.donation-collection-form input[type=range] {
  width: 100%;
  display: block;
}
fieldset {
  outline: none;
  border: none;
  padding: 0;
  margin: 0;
  font-size: 18px;
}
input[type=text],
input[type=number],
input[type=email] {
  padding: 10px 15px;
  width: 50%;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  border-bottom-right-radius: 225px 15px;
  border-bottom-left-radius: 15px 255px;
  border: solid 3px black;
  font-size: 18px;
}
input[type=text].bottompadded,
input[type=number].bottompadded,
input[type=email].bottompadded {
  margin-bottom: 5px;
}
input[type=text]:focus,
input[type=number]:focus,
input[type=email]:focus {
  outline: none;
}
input[type=text]:disabled,
input[type=number]:disabled,
input[type=email]:disabled {
  border-color: darkgrey;
  background: lightgrey;
}
.d-centered {
  display: block!important;
}
.hero--content h2 {
  margin: 0;
  font-family: 'happy', sans-serif;
  font-size: 3.5rem !important;
  letter-spacing: 3px;
}
