@font-face {
	font-family:"A little sunshine";
	src:url("sunshine.ttf");
}

@font-face {
	font-family:"Hello Scarecrow";
	src:url("HelloScarecrow.ttf");
}

@font-face {
	font-family:"Sunshine2";
	src:url("sunshine_2.ttf");
}

@font-face {
	font-family:"happy";
	src:url("happy.ttf");
}

.sunshine {
	font-family: 'A little sunshine', serif;
}

label.sunshine {
	font-size:2rem;
}

h1 {
	font-family: 'happy', serif;
	font-size:6rem;
	margin: 0;
	letter-spacing:3px;
}
h2 {
	font-family: 'Hello Scarecrow', serif;
	font-size:3rem;
	margin-top: 0;
	margin-bottom: 0;
}

h3 {
	font-family: 'A little Sunshine', serif;
	font-size:2rem;
	margin-top: 0;
	margin-bottom: 0;
}

b {
	font-family:'A little Sunshine',serif;
	font-size:2rem;
}

.center {
  width:70%;
  margin-left:15%;
  margin-right:15%;
  text-align:center;
}

html {
	background-image:url("images/backg.jpeg");
	background-repeat:no-repeat;
	background-attachment:fixed;
}

.past {
	border:2px solid white;
	/*transform:rotate(90deg);*/
	image-orientation: from-image;
}

.swipe{
    overflow-x:auto;
    overflow-y:visible;
    white-space:nowrap;
    height:100%;
}

.swipe::-webkit-scrollbar-track, iframe body::-webkit-scrollbar-track
{
/*	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
*/	border-radius: 10px;
	background-color: transparent;
}

.swipe::-webkit-scrollbar, iframe body::-webkit-scrollbar
{
	width: 12px;
	background-color: transparent;
}

.swipe::-webkit-scrollbar-thumb, iframe body::-webkit-scrollbar-thumb
{
	border-radius: 10px;
/*	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
*/	background-color: #555;
}

.fa-facebook {
  background: #3B5998;
  color: white;
  width: 30px;
}

.fa-instagram {
  background: #125688;
  color: white;
  width: 30px;
}

.fa-email {
  background: green;
  color: white;
  font-family:sans-serif;
}

.fa {
  padding: 20px;
  font-size: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  transition:.3s;
}

.fa:hover {
    opacity: 0.7;
}

@media only screen and (max-width: 600px) {
  .center {
  	width:100%;
  	margin-left:0;
  	margin-right:0;
  }
}

@media only screen and (max-width: 430px) {
  h1 {
  	font-size:4rem;
  }
  h2 {
  	font-size:2rem;
  }
}

.sketched {
	background:transparent;
	padding:0.5rem 0.5rem;
	margin:0 0.5rem;
	/* font-size:1rem; */

	border-top-left-radius: 255px 15px;
	border-top-right-radius: 15px 225px;
	border-bottom-right-radius: 225px 15px;
	border-bottom-left-radius:15px 255px;

	border:solid 3px black;

	font-family: 'A little Sunshine',serif;
  font-size: 2rem;
	text-decoration:none;

	color:black;

	font-weight:bold;

	/* cursor:pointer; */
}

.sketched:focus {
	outline:none;
}

.pointer {
	cursor:pointer;
}

.left {
	width:45%;
	float:left;
}

.right {
	width:45%;
	float:right;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.clearfix {
	width:100%;
	display: inline-block;
}

.vertmid_parent {
	display:table;
	align-items:center;
	width:70%;
	padding:0 20%;
}

.plus {
	font-size:100px;
	font-weight:bold;
}

.vertmid {
	display:table-cell;
	vertical-align:middle;
}
